<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/search.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <title>도서 도우미</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <i class="fas fa-book"></i>
      <div class="title">도서 검색결과</div>
    </header>
    <!-- End Header -->

    <!-- Search Section -->
    <section id="search">
      <form action="/search">
        <div class="selectBox">
          <select class="selectList" name="option">
            <option>도서명</option>
            <option>저자명</option>
            <option>출판사</option>
          </select>
          <i class="fas fa-caret-down"></i>
        </div>
        <div id="previous_type">{{previous_type}}</div>

        <input
          type="text"
          name="keyword"
          placeholder="키워드를 입력하세요."
          value="{{previous_keyword}}"
          autofocus
        />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </section>
    <!-- End Search Section -->

    <!-- Result Section -->
    <section id="result">
      {% for i in range(0, bookcount.value) %}
      <div class="result result__book">
        <div class="result result__contaier">
          <div class="book__img">
            <img src="{{bookimg[i]}}" width="80" height="120" />
          </div>
          <div class="book__info">
            <div class="book book__title">{{title[i]}}({{publishYear[i]}})</div>
            <div class="book book__writer__publisher">
              {{writer[i]}} | {{publisher[i]}}
            </div>
            <div class="book book__subCategory">분류 : {{subCategory[i]}}</div>

            {% if isrental[i] !== "0" %}
            <div class="book book__isrental">
              <button type="submit" id="getBook" onClick="rental({{CNO[i]}});">
                대출 정보
              </button>
            </div>
            <div class="CNO" id="{{CNO[i]}}"></div>
            {% endif %}
          </div>
          <!-- result__contaier -->
        </div>
        {% if isrental[i] !== "0" %}
        <div id="drawtable" class="{{CNO[i]}}"></div>
        {% endif %}

        <!-- result__book -->
      </div>
      {% endfor %}
    </section>
    <!-- End Result Section -->

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
      const header = document.querySelector("header");
      const bookBtn = document.querySelector("#getBook");
      const selectList = document.querySelector(".selectList");
      const previous_type = document.querySelector("#previous_type");

      let cnt = 0;

      selectList.value = previous_type.textContent;

      document.addEventListener("scroll", (e) => {
        if (window.innerHeight + window.scrollY >= document.body.offsetHeight) {
          console.log("Y: ", scrollY);
          console.log("Inner: ", innerHeight);
          console.log("Y + Inner: ", scrollY + innerHeight);
          cnt += 1;
          console.log(cnt);
        }
      });

      header.addEventListener("click", () => {
        location.href = "/";
      });

      function rental(cno) {
        console.log(cno);
        axios
          .get(`/search/postman/${cno}`)
          .then((res) => {
            const data = res.data;
            const isrental = document.getElementById(`${cno}`);
            const drawtable = document.getElementsByClassName(`${cno}`)[0];
            const rentalBtn = document.querySelector("#getBook");

            if (rentalBtn.innerText === "대출 정보") {
              rentalBtn.innerText = "숨기기";
              drawtable.classList.remove("hidden");
              drawtable.innerHTML = data;
            } else {
              rentalBtn.innerText = "대출 정보";
              drawtable.classList.add("hidden");
            }
            console.log("rentalBtn: ", rentalBtn);
            console.log("isrental : ", isrental);
            console.log("drawtable : ", drawtable);
            console.log("cno : ", cno);
            console.log("data : ", data);
            console.log("load success");
          })
          .catch((err) => {
            console.error(err);
          });
      }
    </script>
  </body>
</html>
