<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/search.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>도서 도우미</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <i class="fas fa-book"></i>
      <div class="title">도서 검색결과</div>
    </header>
    <!-- End Header -->

    <!-- Search Section -->
    <section id="search">
      <form action="/search">
        <div class="selectBox">
          <select class="selectList" name="option">
            <option>도서명</option>
            <option>저자명</option>
            <option>출판사</option>
          </select>
          <i class="fas fa-caret-down"></i>
        </div>

        <input
          type="text"
          name="keyword"
          placeholder="키워드를 입력하세요."
          value="{{previous_keyword}}"
          autofocus
        />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </section>
    <!-- End Search Section -->

    <!-- Result Section -->
    <section id="result">
      {% for i in range(0, bookcount.value) %}
      <div class="result__book">
        <div class="book__img">
          <img src="{{bookimg[i]}}" width="80" height="120" />
        </div>
        <div class="book__info">
          <div class="book book__title">{{title[i]}}</div>
          <div class="book book__date">{{writer[i]}} | {{publisher[i]}}</div>
          <div class="book book__location">소장위치 : {{location[i]}}</div>
          <div class="book book__state">도서상태 : {{state[i]}}</div>
        </div>
      </div>
      {% endfor %}
    </section>
    <!-- End Result Section -->

    <script src="func.js"></script>
  </body>
</html>
