<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/search.css" />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <title>도서 도우미</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <i class="fas fa-book"></i>
      <div class="title">도서 검색결과</div>
    </header>
    <!-- End Header -->

    <!-- Search Section -->
    <section id="search">
      <form action="/search">
        <div class="selectBox">
          <select class="selectList" id="option">
            <option>도서명</option>
            <option>저자명</option>
            <option>출판사</option>
          </select>
          <i class="fas fa-caret-down"></i>
        </div>
        <input type="text" name="keyword" placeholder="키워드를 입력하세요." />
        <button type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
    </section>
    <!-- End Search Section -->

    <!-- Result Section -->
    <section id="result">
      <table class="table__result">
        <tr>
          <td rowspan="3"><img src="http://placehold.it/100x150" /></td>
          <td>도서명 : {{title}}</td>
          <td>작가명 : {{writer}}</td>
        </tr>
        <tr>
          <td>출판사 : {{publisher}}</td>
          <td>출판일 : {{date}}</td>
        </tr>
        <tr>
          <td colspan="2">미정 :</td>
        </tr>
      </table>
    </section>
    <!-- End Result Section -->

    <!-- <script>
      const a = document.querySelector(".title");
      const form = document.querySelector("form");
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        a.innerHTML = "ASDFSA";
      });
    </script> -->
  </body>
</html>
