@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #a598ee;
  padding: 0px;
  margin: 0 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  color: #fff;
  display: flex;
  position: relative;
  margin: 30px 0;
  font-size: 5vw;
  transition: all ease 0.5s;
  user-select: none;
}
header:hover {
  cursor: pointer;
}
header i {
  position: relative;
  right: 32px;
  top: 12px;
}
/* End Header */

/* Search Section */
#search form {
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px #555555;
  transition: all ease 0.3s;
  margin-bottom: 15px;
}
#search .selectBox {
  color: #555555;
  /* padding: 22px 70px 0px 30px; */
  border-right: 1px solid #e5e5e5;
  padding: 0px;
  margin: 0px;
}
#search .selectBox select {
  color: #555555;
  font-size: 1.5em;
  border: none;
  border-radius: 7px 7px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 22px 70px 0px 30px;
  width: 100%;
  position: relative;
  top: 3px;
}
#search .selectBox:hover select {
  color: #000;
}
#search .selectBox i {
  color: #e5e5e5;
  position: relative;
  left: 150px;
  bottom: 25px;
  transition: all ease 0.5s;
  font-size: 2em;
}
#search .selectBox:hover i {
  transform: rotate(-180deg);
  color: #63c76a;
}
#search button {
  background-color: #63c76a;
  padding: 20px;
  margin: 0px;
  border: none;
  transition: all ease 0.3s;
}
#search button:hover {
  box-shadow: 0 0 10px #50c058 inset;
  background-color: #50c058;
}
#search button i {
  font-size: 3em;
  color: #fff;
  padding: 0px 0px 0px 3px;
}
#search input {
  width: 40vw;
  font-size: 1.5em;
  border: none;
  padding: 20px;
}
.CNO {
  /* display: none; */
}
select:focus {
  outline: none;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/* End Search Section */

/* Result Section */

.result__book {
  background-color: #fff;
  border-radius: 7px;
  width: 85vw;
  padding: 10px;
  margin: 20px;
  display: flex;
}

.book {
  font-size: 13px;
  color: #555555;
}

.book__title {
  font-size: 15px;
  color: #0984e3;
}
.result__book .book__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.result__book img {
  padding: 5px 30px 5px 5px;
}

/* End Result Section */

@media screen and (max-width: 720px) {
  header {
    font-size: 7vw;
    bottom: 50px;
  }
  #search form {
    width: 77vw;
    padding: 0 10px 10px 10px;
    height: 140px;
    flex-direction: column;
    justify-content: space-between;
  }

  #search button {
    position: relative;
    width: 85px;
    height: 100px;
    bottom: 100%;
    left: 75%;
  }
  #search input {
    width: 70vw;
  }
  #search .selectBox {
    border: none;
    width: 50vw;
  }
  #search .selectList {
    position: relative;
    right: 3%;
  }
  #search .selectBox i {
    left: 30%;
  }
  #search button {
    border-radius: 3px;
  }
}

/* table */

table {
  border-collapse: collapse;
}
table,
td,
th {
  border: 2px solid wheat;
}
th {
  color: #a5661a;
}
td {
  text-align: center;
}
tr:nth-child(2n) {
  background-color: #ece9e9;
}
tr:nth-child(2n + 1) {
  background-color: white;
}
tr:first-child {
  background-color: #ffeb9c;
}

/* Hidden Tags */
.CNO {
  /* display: none; */
}
#previous_type {
  display: none;
}
