@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  background-color: #a598ee;
  padding: 0px;
  margin: 0 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

/* Header */
header {
  color: #fff;
  display: flex;
  position: relative;
  margin: 30px 0;
  font-size: 5vw;
  transition: all ease 0.5s;
}
header i {
  position: relative;
  right: 32px;
  top: 12px;
}
/* End Header */

/* Search Section */
#search form {
  display: flex;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0 0 15px #555555;
  transition: all ease 0.3s;
  margin-bottom: 15px;
}
#search .selectBox {
  color: #555555;
  /* padding: 22px 70px 0px 30px; */
  border-right: 1px solid #e5e5e5;
  padding: 0px;
  margin: 0px;
}
#search .selectBox select {
  color: #555555;
  font-size: 1.5em;
  border: none;
  border-radius: 7px 7px 0 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 22px 70px 0px 30px;
  width: 100%;
  position: relative;
  top: 3px;
}
#search .selectBox i {
  color: #e5e5e5;
  position: relative;
  left: 150px;
  bottom: 25px;
  transition: all ease 0.5s;
  font-size: 2em;
}
#search .selectBox:hover i {
  transform: rotate(-180deg);
}
#search button {
  background-color: #63c76a;
  padding: 20px;
  margin: 0px;
  border: none;
  transition: all ease 0.3s;
}
#search button:hover {
  box-shadow: 0 0 10px #50c058 inset;
  background-color: #50c058;
}
#search button i {
  font-size: 3em;
  color: #fff;
  padding: 0px 0px 0px 3px;
}
#search input {
  width: 50vw;
  font-size: 1.5em;
  border: none;
  padding: 20px;
}
select:focus {
  outline: none;
}
input:focus {
  outline: none;
}
button:focus {
  outline: none;
}
/* End Search Section */

/* Result Section */

.table__result {
  background-color: #fff;
  border-radius: 7px;
  width: 85vw;
  padding: 10px;
  margin: 20px;
}
.table__result table {
}

.table__result img {
  padding: 5px 30px 5px 5px;
}

/* End Result Section */

@media screen and (max-width: 550px) {
  header {
    font-size: 7vw;
    bottom: 50px;
  }
  #search form {
    width: 85vw;
    padding: 20px;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
  }
  #search input {
    width: 70vw;
  }
  #search .selectBox {
    border: none;
  }
  #search .selectList {
    position: relative;
    right: 3%;
  }
  #search .selectBox i {
    left: 90%;
  }
  #search button {
    border-radius: 3px;
  }
}
